<%= link_to 'Volver', plants_path %>
<p></p>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Nombre</th>
    <th>Luz</th>
    <th>Agua</th>
    <th>Temperatura Máxima</th>
    <th>Temperatura Mínima</th>
    <th>Enfermedades</th>
  </tr>
  <% @plants.sort_by{ |plant| plant.name }.each do |plant| %>
    <tr>
      <td><%= link_to 'Ver', plant_path(plant) %></td>
      <td><%= link_to 'Editar', edit_plant_path(plant) %></td>
      <td><%= plant.name %></td>
      <td><%= plant.sun %></td>
      <td><%= plant.water %></td>
      <td><%= plant.temperature_max %></td>
      <td><%= plant.temperature_min %></td>
      <td><%= plant.pests.map(&:name).sort %></td>
    </tr>
  <% end %>
</table>