<%= link_to 'Inicio', root_path %>
<%= link_to 'Mis Huertos', lands_path %>

<h1><%= @land.name %></h1>

<p>
  <strong><%= 'Temperatura:' %></strong>
  <%= @land.temperature %>
</p>
<p>
  <%= @land.plants.sort_by(&:name).map(&:name) %>
</p>

<%= link_to 'Editar', edit_land_path(@land) %>

<h2> Diario de las plantas </h2>
<%= link_to 'Añadir acción', new_diary_path %>

<table>
	
	<tr>
		<th></th>
		<th>Fecha</th>
		<th>Planta</th>
		<th>Acción</th>
		<th>Observaciones</th>
	</tr>

	<% @diaries.sort_by{ |diary| diary.date }.each do |diary| %>
		<tr>
			<td><%= link_to 'Eliminar', diary_path(diary), method: :delete, data: {confirm: '¿Deseas eliminarlo?' }					 							 %></td>
			<td><%= diary.date        %></td>
			<td><%=       %></td>
			<td><%= diary.action      %></td>
			<td><%= diary.observation %></td>
		</tr>
	<% end %>

</table>

Redirigir Eliminar a Land, ¿como?