<%= link_to 'Inicio', root_path %>
<%= link_to 'Mis Huertos', lands_path %>

<h1><%= @land.name %></h1>

<p>
  <strong><%= 'Temperatura:' %></strong>
  <%= @land.temperature %>
</p>
<p>
  <%= @land.plants.sort_by(&:name).map(&:name) %>
</p>

<%= link_to 'Editar', edit_land_path(@land) %>

<h2> Diario de las plantas </h2>
<p> Fecha / Planta / Acción / Observaciones </p>