<%= link_to 'Inicio', root_path %> -
<%= link_to 'Mis Huertos', lands_path %>

<h1><%= @land.name %></h1>

<p>
  <strong><%= 'Temperatura:' %></strong>
  <%= @land.temperature %>
</p>
<p>
  <%= @land.plants.sort_by(&:name).map(&:name) %>
</p>

<%= link_to 'Editar', edit_land_path(@land) %>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
th, td {
    padding: 5px;}
</style>

<h2>Trabajos a realizar</h2>

<table>
	
	<tr>
		<th>Planta</th>
		<th>Sembrar</th>
		<th>Plantar</th>
		<th>Cosechar</th>
		
	</tr>

	<% @plants.each do |plant| %>
		<tr>
			<td><%= link_to plant.name, plant_path(plant) %></td>
			<td><%= plant.seed %></td>
			<td><%= plant.grow %></td>
			<td><%= plant.harvest %></td>
			
		</tr>
	<% end %>

</table>

<h2> Diario de las plantas </h2>
<%= link_to 'Añadir acción', new_diary_path(land_id: @land.id) %>

<table>
	
	<tr>
		<th colspan='2'></th>
		<th>Fecha</th>
		<th>Planta</th>
		<th>Acción</th>
		<th>Observaciones</th>
	</tr>

	<% @diaries.sort_by{ |diary| diary.date }.each do |diary| %>
		<tr>
			<td><%= link_to 'Editar', edit_diary_path(diary) %></td>
			<td><%= link_to 'Eliminar', diary_path(diary), method: :delete, data: {confirm: '¿Deseas eliminarlo?' }					 							 %></td>
			<td><%= diary.date                  %></td>
			<td><%= diary.plantation.plant.name %></td>
			<td><%= diary.action      					%></td>
			<td><%= diary.observation 					%></td>
		</tr>
	<% end %>

</table>

Redirigir Eliminar a Land, ¿como?