<%= form_for @pest do |f| %>
  <p>
    <%= f.label :Invasor %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Grupo %>
    <%= f.collection_select(:group, GROUP_PEST, :to_s, :to_s) %>
  </p>
  <p>
    <%= f.label :Daños %>
    <%= f.text_area :damage %>
  </p>
  <p>
    <%= f.label :Elimarlos %>
    <%= f.text_area :beat %>
  </p>
  <p>
    <%= f.label 'Plantas afectadas:' %>
    <%= f.collection_check_boxes(:plant_ids, Plant.all.order(:name), :id, :name) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>