<%= link_to 'Mis huertos', lands_path %>

<table>
	
	<tr>
		<th></th>
		<th>Fecha</th>
		<th>Huerto</th>
		<th>Planta</th>
		<th>Acción</th>
		<th>Observaciones</th>
	</tr>

	<% @diaries.sort_by{ |diary| diary.date }.each do |diary| %>
		<tr>
			<td><%= link_to 'Eliminar', diary_path(diary), method: :delete, data: {confirm: '¿Deseas eliminarlo?' }					  %></td>
			<td><%= diary.plantation.land.name  %></td>
			<td><%= diary.date                  %></td>
			<td><%= diary.plantation.plant.name %></td>
			<td><%= diary.action                %></td>
			<td><%= diary.observation           %></td>
		</tr>
	<% end %>

</table>