<h1>Nueva acción</h1>

<%= form_for @diary do |f| %>

  <p>
  	<%= f.label :Fecha %>
  	<%= f.date_field :date %>
  </p>

  
  # f.label :Planta
  # f.collection_select(:plant_ids, Plant.order(:name), :id, :name)
  

  <p>
  	<%= f.label :Acción %>
  	<%= f.text_field :action %>
  </p>
  <p>
  	<%= f.label :Observaciones %>
  	<%= f.text_area :observation %>
  </p>

  <p>
  	<%= f.submit %>
  </p>

<% end %>