<%= link_to 'Mis huertos', lands_path %>

Volver a un id concreto, ¿cómo?

<h1>Nueva acción: <%= @diary.action %></h1>

  <p>
  	<%= 'Fecha:' %>
  	<%= @diary.date %>
  </p>

  <p>
    <%= 'Planta:' %>
    <%= @diary.plantation.plant.name %>
  </p>

  <p>
  	<%= 'Acción:' %>
  	<%= @diary.action %>
  </p>
  <p>
  	<%= 'Observaciones:' %>
  	<%= @diary.observation %>
  </p>

<%= link_to 'Editar', edit_diary_path %>