<h1>Bienvenido a mi huerto.</h1>


<h2><%= link_to 'Mis huertos', controller: 'lands' %> - 

<%= link_to 'Plantas', controller: 'plants' %> -

<%= link_to 'Diarios', controller: 'diaries' %> -

<%= link_to 'Plagas', controller: 'pests' %> -

<%= link_to 'Macronutrientes', controller: 'macronutrients' %></h2>