<%= form_for @plant do |f| %>

  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@plant.errors.count, "error") %> prohibited
        this plant from being saved:
      </h2>
      <ul>
        <% @plant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <%= f.label :Nombre %><br>
  <%= f.text_field :name %>
</p>
<P>
  <%= f.label :Comestible %>
  <%= f.check_box :edible, {}, "true", "false" %>
</p>
<p>
  <%= f.label :Familia %>
  <%= f.collection_select(:family_id, Family.order(:name), :id, :name) %>
</p>

<h3>Trabajos</h3>
<p>
  <%= f.label :Sembrar %>
  <%= f.date_select(:seed, discard_year: true) %>
</p>
<p>
  <%= f.label :Plantar %>
  <%= f.text_field :grow %>
</p>
<p>
  <%= f.label :Cosechar %>
  <%= f.text_field :harvest %>
</p>

<h3>Cuidados</h3>
<p>
  <%= f.label :Luz %>
  <%= f.text_field :sun %>
</p>
<p>
  <%= f.label :Agua %>
  <%= f.text_field :water %>
</p>
<p>
  <%= f.label :Temperatura %>
  <%= f.text_field :temperature %> 
</p>
<p>
  <%= f.label :'Enfermedades:' %>
  <%= f.collection_check_boxes(:pest_ids, Pest.order(:name), :id, :name, {include_hidden: false}) %>
</p>

<h3>Espacio que ocupa</h3>
<p>
  <%= f.label :'Diametro cm' %>
  <%= f.text_field :diameter %>
</p>
<p>
  <%= f.label :'Volumen L' %>
  <%= f.text_field :volume %>
</p>
<p>
  <%= f.label :'Altura del contenedor cm' %>
  <%= f.text_field :height %>
</p>
<p>
  <%= f.label :'Altura de la planta cm' %>
  <%= f.text_field :tallness %>
</p>
<p>
  <%= f.label :'Tipo de raíz' %>
  <%= f.text_field :depth %>
</p>

<h3>Asociaciones</h3>
<p>
  <%= f.label :Positivas %>
  <%= f.text_field :positive %>
</p>
<p>
  <%= f.label :Negativas %>
  <%= f.text_field :negative %>
</p>
<p>
  <%= f.label :Notas %>
  <%= f.text_field :note %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>