<%= link_to 'Inicio', root_path %>

<h1>Mi listado de plantas.</h1>

<% @plants.sort_by{ |plant| plant.name }.each do |plant| %>
  <%= link_to plant.name, plant_path(plant) %>,
<% end %><br>

<h3><%= link_to 'Añadir Planta', new_plant_path %></h3>

<%= link_to 'FAMILIAS:', families_path %>

<% @families.sort_by(&:name).each do |family| %>
  <%= link_to family.name, family_path(family) %>,
<% end %>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
th, td {
    padding: 5px;}
</style>

<h2 align='center'><%= link_to 'Trabajos a realizar', works_path %><%= ' - ' %>
    <%= link_to 'Cuidados', cares_path %><%= ' - ' %>
    <%= link_to 'Distancias y dimensiones', measures_path %></h2>

<h2><%= link_to 'Asociaciones de plantas:', asociations_path %></h2>

<table>
  <tr>
    <th>Nombre</th>
    <th>Familia</th>
    <th>Positivas</th>
    <th>Negativas</th>
  </tr>
  <% @plants.sort_by{ |plant| plant.name }.each do |plant| %>
    <tr>
      <td align='center'><b><%= link_to plant.name, plant_path(plant) %></b></td>
      <td><%= plant.family&.name %></td>
      <td><%= plant.positive %></td>
      <td><%= plant.negative %></td>      
    </tr>
  <% end %>
</table>