<%= link_to 'Inicio', root_path %> - 
<%= link_to 'Mi listado de plantas', plants_path %><br>
<%= link_to 'Añadir planta', new_plant_path %> -
<%= link_to 'Siguiente planta', plant_path(@plant.id.next) %> 
<p> => No se ordena por orden alfabético y hay problemas con id que no existen</p>

<h1><%= @plant.name %></h1>
<p>
  <strong>Comestible:</strong>
  <%= @plant.edible %>
</p>
<p>
  <strong>Huertos:</strong>
  <%= @plant.lands.order(:name).pluck(:name) %>
</p>
<p>
  <strong>Familia:</strong>
  <%= @plant.family&.name %>
</p>

<h2>Trabajos</h2>
<p>
  <strong>Sembrar:</strong>
  <%= @plant.seed %>
</p>
<p>
  <strong>Plantar:</strong>
  <%= @plant.grow %> 
</p>
<p>
  <strong>Cosechar:</strong>
  <%= @plant.harvest %>
</p>
<p>
  <strong>Notas de trabajos:</strong>
  <%= @plant.works_note %>
</p>

<h2>Cuidados</h2>
<p>
    <strong>Luz:</strong>
    <%= @plant.sun %>
</p>
<p>
    <strong>Agua:</strong>
    <%= @plant.water %>
</p>
<p>
  <strong>Temperatura Máxima (ªC):</strong>
  <%= @plant.temperature_max %>
</p>
<p>
  <strong>Temperatura Mínima (ªC):</strong>
  <%= @plant.temperature_min %>
</p>
<p>
  <strong><%= link_to 'Enfermedades:', pests_path(@pest) %></strong>
  <%= @plant.pests.sort_by(&:name).map(&:name) %>
</p>

<h2>Espacio que ocupa</h2>
<p>
    <strong>Diametro cm:</strong>
    <%= @plant.diameter %>
</p>
<p>
  <strong>Volumen L:</strong>
  <%= @plant.volume %>
</p>
<p>
    <strong>Altura del contenedor cm:</strong>
    <%= @plant.height %>
</p>
<p>
    <strong>Tipo de raíz:</strong>
    <%= @plant.depth %>
</p>
<p>
    <strong>Altura de la planta cm:</strong>
    <%= @plant.tallness %>
</p>

<h2>Asociaciones</h2>
<p>
    <strong>Positivas:</strong>
    <%= @plant.positive %>
</p>
<p>
    <strong>Negativas:</strong>
    <%= @plant.negative %>
</p>
<p>
    <strong>Notas:</strong>
    <%= @plant.note %>
</p>

<%= link_to 'Editar', edit_plant_path(@plant) %>
<%= link_to 'Eliminar', plant_path(@plant), method: :delete, data: {confirm: '¿Quieres eliminarlo?' } %>
