<%= link_to 'Volver', plants_path %>
<p></p>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
th, td {
    padding: 5px;}
</style>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Nombre</th>
    <th>Diametro cm</th>
    <th>Volumen L</th>
    <th>Altura del contenedor cm</th>
    <th>Altura de la planta cm</th>
    <th>Tipo de raíz</th>
  </tr>
  <% @plants.sort_by{ |plant| plant.name }.each do |plant| %>
    <tr>
      <td><%= link_to 'Ver', plant_path(plant) %></td>
      <td><%= link_to 'Editar', edit_plant_path(plant) %></td>
      <td><%= plant.name %></td>
      <td><%= plant.diameter %></td>
      <td><%= plant.volume %></td>
      <td><%= plant.height %></td>
      <td><%= plant.tallness %></td>
      <td><%= plant.depth %></td>

    </tr>
  <% end %>
</table>